:root {
  --page: url('/./assets/media/background/full2.png');
  --background: rgba(255, 255, 255, 0.02);
  --background-filter: blur(10px) brightness(80%);
  --background-secondary: #0051f49e;
  --background-dark: #01fecc;
  --background-other: #ffffff;

  --title: #ff0000;
  --block: #ff00f2;
  --block-buttons: #00ff22;
  --input: #444;
  --column: #353535;
  --accent-color: #07434b;
  --main: #efd512;

  --text-primary: #fff;
  --text-secondary: #b0b0b0;
  --text-placeholder: #aaa;
  --text-dark: #555;

  --transparent: rgb(0, 0, 0, 0);
}
